<% layout('layouts/boilerplate') %>
<section class="bg-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h5>Welcome to Build Guild</h5>
                <p>Here, you can upload and submit your build to be featured on the site!</p>
                <p>Fill out the form below and show off that dope a** build</p>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row mx-auto mt-5">
        <h2>Edit your build submission</h2>
        <div class="col-lg-6">
            <form action="/pages/<%=builds._id%>?methodfield=PUT" class="form-validation" method="POST"
                enctype="multipart/form-data" novalidate>
                <div class="">
                    <label class="form-label mt-2" for="name">Name: </label>
                    <input class="form-control" type="text" id="name" name="pages[user]"
                        value="<%=builds.author.username%>" required disabled>
                </div>
                <div class="">
                    <label class="form-label mt-2" for="title">Build Name: </label>
                    <input class="form-control" type="text" id="title" name="pages[title]" value="<%= builds.title %>"
                        required>
                </div>
                <div class="">
                    <label class="form-label mt-2" for="description">Description:</label>
                    <input class="form-control" type="text" id="description" name="pages[description]"
                        value="<%= builds.description %>" required>
                </div>
                <p class="mt-2">RGB Lighting:</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pages[rgb]" id="rgb" value="Yes" required>
                    <label class="form-check-label" for="rgb">
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pages[rgb]" id="rgb" value="No" required>
                    <label class="form-check-label" for="rgb">
                        No
                    </label>
                </div>
                <p class="mt-2">Cooling:</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pages[cooling]" id="cooling" value="Air Cooling"
                        required>
                    <label class="form-check-label" for="cooling">
                        Air Cooling
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pages[cooling]" id="cooling"
                        value="Custom Liquid" required>
                    <label class="form-check-label" for="cooling">
                        Custom Liquid
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pages[cooling]" id="cooling" value="AIO Cooling"
                        required>
                    <label class="form-check-label" for="cooling">
                        AIO Cooling
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="pages[cooling]" id="cooling"
                        value="Passive Cooling" required>
                    <label class="form-check-label" for="cooling">
                        Passive Cooling
                    </label>
                </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-sm-4">
            <p class="fw-bold">Hardware:</p>
            <div class="input-group input-group-sm mb-3">
                <label class="input-group-text form-label" for="cpu" id="cpu">CPU</label>
                <input type="text" class="form-control" id="cpu" name="pages[cpu]" value="<%=builds.cpu %>" required>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Motherboard</span>
                <input type="text" class="form-control" name="pages[motherboard]" value="<%= builds.motherboard %>"
                    aria-label="motherboard" aria-describedby="inputGroup-sizing-sm" required>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Memory</span>
                <input type="text" class="form-control" name="pages[memory]" value="<%= builds.memory %>"
                    aria-label="memory" aria-describedby="inputGroup-sizing-sm" required>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Graphics</span>
                <input type="text" class="form-control" name="pages[graphics]" value="<%= builds.graphics %>"
                    aria-label="graphics" aria-describedby="inputGroup-sizing-sm" required>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">PSU</span>
                <input type="text" class="form-control" name="pages[psu]" value="<%= builds.psu %>" aria-label="psu"
                    aria-describedby="inputGroup-sizing-sm" required>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="storage">Storage</span>
                <input type="text" class="form-control" name="pages[storage]" value="<%= builds.storage %>" required>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Case</span>
                <input type="text" class="form-control" name="pages[case]" value="<%= builds.case %>" aria-label="case"
                    aria-describedby="inputGroup-sizing-sm" required>
            </div>
            <div class="form-file custom-file mb-3">
                <input type="file" class="form-control" id="image" name="image" multiple>
                <label for="image" class="formfile-label">
                    <span class="form-file-text custom-file-label">Choose Image(s)...</span></label>

                <div class="invalid-feedback">
                    Show off your build with images, otherwise this is all kind of
                    pointless?
                </div>
            </div>
            <div class="invalid-feedback">
                <p class="alert">Show off your build with images, otherwise its kind of
                    pointless?
                </p>

            </div>
            <div class="mb-3">
                <!-- Hide delete title if there are no images -->
                <% if(builds.images.length > 0) { %>
                <p class="fw-bold">Choose images to delete(?)</p>
                <% } %>
                <!-- display images for user to delete (optional) -->
                <% builds.images.forEach(function(img, i) {%>
                <img src="<%=img.thumbnail%>" class="img-fluid" alt="">
                <div class="form-check-inline mt-2">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImgs[]" value="<%=img.filename%>">
                </div>
                <% }) %>
            </div>
        </div>
        <button class="btn btn-dark" style="width: 50%;">Update Build</button>
        </form>
    </div>
</section>