<% layout('layouts/boilerplate') %>
<section class="bg-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h5>Welcome to Build Guild</h5>
                <p>Here, you can view recent custom PC builds from the community. Where awesome and
                    talented custom pc builders can post their latest builds, comment on projects and best of all,
                    show off!</p>
                <p><a href="#build-posts" class="btn btn-light">Check them out below<i
                            class="fas fa-arrow-down mx-2"></i></a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid">
    <h2 class="text-center mt-5 text-lowercase">How this works</h2>
    <p class="text-center">We are a passionate community of custom PC builders. Show off your builds, check out other's
        builds and leave a comment</p>
    <div class="row row-cols" id="small-cards">
        <div class="card-group">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-user fa-3x mb-2 float-start" aria-hidden="true"></i>
                        <h5 class="card-title">Make an Account</h5>
                        <p class="card-text">Create an account and get started on showing off your build</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-wrench fa-3x float-start"></i>
                        <h5 class="card-title">Add your build</h5>
                        <p class="card-text">Upload your dope a** build
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-comment fa-3x float-start" aria-hidden="true"></i>
                        <h5 class="card-title">Comment on builds</h5>
                        <p class="card-text">Comment, give feedback and praise other builders</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-edit fa-3x float-start"></i>
                        <h5 class="card-title">Update your build</h5>
                        <p class="card-text">Go in and update your builds, add to it or delete it, forever</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" id="build-posts">
    <div class="row d-flex flex-column">
        <div class="col-md-5 mt-5 mx-auto">
            <h3 class="text-left text-muted">View Builds: </h3>
            <% for (let build of builds) { %>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="media mb-3">
                        <img src="https://images.unsplash.com/photo-1517849845537-4d257902454a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80"
                            class="d-block img-w img-thumbnail rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <%= build.user %>
                            <div class="text-muted small">1 days ago</div>
                        </div>
                    </div>

                    <p>
                        Build Name: <%= build.title %>
                        <br>
                        <%= build.description %>


                    </p>
                    <img src="https://images.unsplash.com/photo-1587202372583-49330a15584d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80"
                        class="d-block w-100" alt="...">
                </div>
                <div class="card-footer">
                    <a href="#" class="d-inline-block text-muted">
                        <strong>123</strong> <i class="fas fa-eye"></i></small>
                    </a>
                    <a href="#" class="d-inline-block text-muted ml-2">
                        <strong>12</strong> <i class="fas fa-thumbs-up"></i></small>
                    </a>
                    <a href="#" class="d-inline-block text-muted ml-2">
                        <strong>200 </strong> <i class="fas fa-comments"></i></small>
                    </a>
                    <a href="/pages/<%= build._id %>/edit" class="btn btn-primary">Edit
                        Build
                    </a>
                    <a href="/pages/<%= build._id %>" class="btn btn-primary">View Build
                    </a>
                </div>
            </div>
            <% } %>

            <!-- ************** END ***************** -->
        </div>
    </div>