<% layout('layouts/boilerplate') %>
<section class="bg-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h5>Welcome to Build Guild</h5>
                <p>Check out <%= builds.title %> </p>
                <br>
                <p><%= builds.description %> </p>
            </div>
        </div>
    </div>
</section>


<div class="container mt-2" id="build-posts-show">
    <div class="row d-flex mx-auto">
        <div class="col-lg-4 col-md-6 col-sm-6 mt-5">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="media mb-3">
                        <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80"
                            class="d-block img-w rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <%= builds.user %>
                            <div class="text-muted small">1 days ago</div>
                        </div>
                    </div>

                    <p>
                        <%= builds.description %>
                        <br>
                        <%= builds.title %>
                    </p>
                    <p> <%= builds.rgb %> </p>
                    <img src="https://images.unsplash.com/photo-1587202372583-49330a15584d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80"
                        class="d-block w-100" id="build-imgs" alt="...">
                </div>
                <div class="card-footer">
                    <a href="#" class="d-inline-block text-muted">
                        <strong>123</strong> <i class="fas fa-eye"></i></small>
                    </a>
                    <a href="#" class="d-inline-block text-muted ml-3">
                        <strong>12</strong> <i class="fas fa-thumbs-up"></i></small>
                    </a>
                    <a href="#" class="d-inline-block text-muted ml-3">
                        <strong>200 </strong> <i class="fas fa-comments"></i></small>
                    </a>
                    <% if( currentUser && builds.author.equals(currentUser._id)) {%>
                    <a href="/pages/<%= builds._id %>/edit" class="ml-3 mr-2 btn-sm btn-primary">Edit
                    </a>
                    <form class="d-inline-block" action="/pages/<%=builds._id%>?_method=DELETE" method="POST"
                        class="validated-form" novalidate>
                        <button class="btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-5">
            <p>
                RGB Lighting: <%= builds.rgb %>
                <br>
                Cooling: <%= builds.cooling %>
                <br>
                CPU: <%= builds.cpu %>
                <br>
                Motherboard: <%= builds.motherboard %>
                <br>
                Graphics: <%= builds.graphics %>
                <br>
                Storage: <%= builds.storage %>
                <br>
                PSU: <%= builds.psu %>
                <br>
                Case: <%= builds.case %>




            </p>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div class="row ml-1">
        <div class="col-lg-8">
            <h3>Comments</h3>
            <div class="card">
                <!-- Comments form -->
                <form action="/pages/<%=builds._id%>/comments" method="POST" class="p-4">
                    <div class="mb-3">
                        <label for="body" class="form-label">Leave a comment</label>
                        <textarea class="form-control" name="comment[body]" id="body" cols="30" rows="3"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks Good.
                        </div>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
            </div>
            <!-- Comments -->
            <% for(let comment of builds.comments) { %>
            <div class="card p-4 mt-2 mb-2">
                <div class="card-body mb-3">
                    <div class="media mb-3">
                        <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80"
                            class="d-block img-w rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <%= builds.user %>
                            <div class="text-muted small">1 days ago</div>
                        </div>
                    </div>
                    <div class="card-subtitle mt-2 mb-3 text-muted">Commented:</div>
                    <p class="card-text"><%= comment.body %> </p>
                    <form action="/pages/<%=builds._id%>/comments/<%=comment._id%>?methodfield=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>